.card{
    display: flex;
    flex-direction: column;
    /* background: white; */
    gap: 16px;
    padding: 16px;
    max-width: 300px;
    &:hover{
        background: #fff;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    }

    h2{
        font-size: 1.5rem;
        margin: 0;
        color: #666;
        font-family: 'OpenSans-Bold', sans-serif;
        font-size: 24px;
        line-height: 130%;
        margin: 0 0 15px;
    }
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }
    p{
        margin: 0;
        color: #555;
        font-size: 1rem;

    }
}